body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 0.8;

    min-height: 768px;
    min-width: 1024px;
/*
    width: 1024px;
    height: 768px;
    border: 1px solid blue;
    
    margin: 0 auto;
*/
    background: rgb(0, 0, 0);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(50, 50, 50)), to(rgb(0, 0, 0)));
    background: -webkit-radial-gradient(rgb(50, 50, 50), rgb(0, 0, 0));
    background:    -moz-radial-gradient(rgb(50, 50, 50), rgb(0, 0, 0));
    background:      -o-radial-gradient(rgb(50, 50, 50), rgb(0, 0, 0));
    background:         radial-gradient(rgb(50, 50, 50), rgb(0, 0, 0));

    -webkit-font-smoothing: antialiased;

    color: rgb(240, 240, 240);
}

#impress.impress-not-supported {
  background: white !important;
  color: black !important;
}

#impress.impress-not-supported .step {
  opacity: 1;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 0 0.1em 0.1em 0.1em;
  border-radius: 0.2em;
  background: rgba(255, 255, 255, 0.05);

  -webkit-transition: 0.5s;
  -moz-transition:    0.5s;
  -ms-transition:     0.5s;
  -o-transition:      0.5s;
  transition:         0.5s;
}

a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.step {
    width: 1024px;
    height: 768px;
    padding: 0px;

    text-align: center;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
}

.step pre {
  font-family: 'Ubuntu Mono', sans-serif;
  text-align: left;
  font-size: 64px;
  margin: 0px;
  padding: 32px;
  line-height: 1;
}

pre.bad {
  color: #FFC000;
}

/* fade out inactive slides */

.step {
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
    /*
    overflow: hidden;
    border: 1px solid red;
    */
}

.step:not(.active) {
    opacity: 0.1;
}

#impress.step-title .step:not(.active) {
  opacity: 0.6;
}

h1, h2, h3, h4 {
  margin: 0px;
  padding: 0px;
  white-space: pre;
  letter-spacing: -0.05em;
  font-size: 100px;
  font-weight: bold;
}

img.pic {
  border: 16px solid rgba(190, 190, 190, 0.3);
  border-radius: 4px;
  -webkit-transform: rotate(-1deg);
}

/* Slides */

#author {
  font-size: 48px;
  text-align: left;
  line-height: 1.5em;
}

#author h1 {
  margin-top: 200px;
  font-size: 86px;
}

#author h2 {
  margin-top: 50px;
  font-size: 86px;
}

#title {
  padding: 192px 256px;
}

#title-rest {
  margin-left: -16px;
  font-size: 215px;
}

#title-doing {
  margin-top: 16px;
  margin-left: -2px;
  font-size: 72px;
}

#title-wrong {
  margin-top: 16px;
  font-size: 134px;
  color: #f88;
}

#intro h2 {
  margin-left: -0.1em;
  font-size: 175px;
}

#intro h3 {
  margin-top: 0.25em;
  font-size: 275px;
}

#intro h4 {
  margin-top: 0.4em;
  font-size: 220px;
}

#arch h2 {
  text-align: left;
  margin-top: 14px;
  margin-left: -2px;
  letter-spacing: -0.07em;
  font-size: 200px;
}

#arch h3 {
  font-size: 400px;
  letter-spacing: -0.075em;
}

#arch h4 {
  text-align: right;
  margin-top: 108px;
  margin-right: 10px;
  letter-spacing: -0.03em;
  font-size: 200px;
}

#loose h2 {
  margin-top: 12px;
  margin-left: -12px;
  letter-spacing: -0.06em;
  font-size: 212.5px;
}

#loose h3 {
  font-size: 150px;
  margin-top: 110px;
}

#loose h4 {
  margin-top: 70px;
  margin-left: -6px;
  font-size: 275px;
  letter-spacing: -0.05em;
}

#uniform h2 {
  margin-top: 30px;
  margin-left: -17px;
  font-size: 238px;
  letter-spacing: -0.04em;
}

#uniform h3 {
  margin-top: 90px;
  font-size: 150px;
  letter-spacing: -0.06em;
}

#uniform h4 {
  margin-top: 80px;
  margin-left: -16px;
  font-size: 216px;
  letter-spacing: -0.04em;
}

#scale h2 {
  margin-top: 70px;
  margin-left: -10px;
  font-size: 181px;
  letter-spacing: -0.05em;
}

#scale h3 {
  margin-top: 80px;
  font-size: 150px;
  letter-spacing: -0.06em;
}

#scale h4 {
  margin-top: 100px;
  margin-left: -12px;
  font-size: 230px;
  letter-spacing: -0.05em;
}

#impress.step-arch-recap #arch,
#impress.step-arch-recap #loose,
#impress.step-arch-recap #uniform,
#impress.step-arch-recap #scale {
  opacity: 1;
}

#needs h2 {
  margin-top: 12px;
  font-size: 240px;
  letter-spacing: -0.07em;
}

#needs h3 {
  margin-top: 10px;
  margin-left: -12px;
  font-size: 267px;
}

#needs h4 {
  margin-top: 10px;
  margin-left: -17px;
  font-size: 407px;
  letter-spacing: 0.07em;
}

#xmlrpc h2 {
  margin-top: 20px;
  margin-left: -12px;
  font-size: 202px;
}

#xmlrpc pre {
  font-size: 72px;
}

#jsonrpc pre {
  font-size: 72px;
}

#rmm h2 {
  margin-top: 130px;
  margin-left: -8px;
  font-size: 137.5px;
}

#rmm h3 {
  margin-top: 10px;
  margin-left: -12px;
  font-size: 238.5px;
  letter-spacing: 0.02em;
}

#rmm h4 {
  margin-top: 0.12em;
  margin-left: -13px;
  font-size: 334px;
  letter-spacing: 0.03em;
}

#rmm-none h2 {
  margin-top: 140px;
  margin-left: -12px;
  font-size: 291px;
  letter-spacing: 0.025em;
}

#rmm-uri h2 {
  margin-top: 160px;
  margin-left: -12px;
  font-size: 223px;
}

#rmm-http h2 {
  margin-top: 100px;
  margin-left: -12px;
  font-size: 189.5px;
}

#rmm-hyper h2 {
  margin-top: 20px;
  margin-left: -6px;
  font-size: 116px;
}

#restfuluri h2 {
  margin-top: 20px;
  margin-left: -16px;
  font-size: 202px;
}

#restfuluri pre {
  margin-top: 40px;
  margin-left: 6px;
  padding: 0px;
  font-size: 72px;
  font-weight: bold;
  line-height: 2.4;
}

#ugly-uri pre {
  margin-top: 400px;
  margin-left: 6px;
  padding: 0px;
  font-size: 72px;
  font-weight: bold;
}

#uri-tunnel h2 {
  font-size: 252px;
  letter-spacing: 0.015em;
  margin-top: 250px;
  margin-left: -4px;
}

#uri-tunnel h3 {
  margin-top: 40px;
  margin-left: -10px;
  font-size: 247px;
}

#opaque h2 {
  margin-top: 20px;
  margin-left: -8px;
  font-size: 274px;
  letter-spacing: -0.01em;
}

#opaque h3 {
  margin-top: -60px;
  margin-left: -2px;
  font-size: 293px;
  letter-spacing: -0.01em;
}

#uri-template h2 {
  margin-top: 100px;
  font-size: 204px;
}

#uri-template h3 {
  margin-top: 20px;
  margin-left: -10px;
  font-size: 163px;
}

#uri-template pre {
  margin-top: 40px;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
}

#uri-discovery h2 {
  margin-top: 1.2em;
  margin-left: -6px;
  font-size: 210px;
}

#uri-discovery h3 {
  margin-top: 40px;
  margin-left: -8px;
  font-size: 183px;
}

#uri-discovery h4 {
  margin-top: 0.5em;
  font-size: 80px;
}

#resrep h2 {
  margin-left: -12px;
  margin-top: 20px;
  font-size: 186px;
}

#resrep h3 {
  margin-left: -12px;
  font-size: 177px;
}

#resrep h4 {
  margin-top: 20px;
  margin-left: -4px;
  font-size: 155px;
}

#resrep-request pre {
  margin-top: 100px;
  font-size: 58px;
  line-height: 1.3em;
  padding: 10px;
}

#resrep-response pre {
  margin-top: 80px;
  font-size: 60px;
  line-height: 1.3em;
  padding: 10px;
}

#embrace h2 {
  margin-top: 20px;
  font-size: 246px;
  letter-spacing: 0.01em;
}

#embrace h3 {
  margin-top: 80px;
  margin-left: -22px;
  font-size: 474px;
  letter-spacing: 0.05em;
}

#http-get h2 {
  font-size: 514px;
  letter-spacing: 0.05em;
  margin-left: -16px;
  margin-top: 120px;
}

#http-get h3 {
  font-size: 136px;
  margin-left: -6px;
  margin-top: 10px;
}

#http-post h2 {
  font-size: 375px;
  letter-spacing: 0.05em;
  margin-left: -20px;
  margin-top: 180px;
}

#http-post h3 {
  font-size: 95.5px;
  margin-top: 10px;
}

#http-put h2 {
  font-size: 510px;
  letter-spacing: 0.05em;
  margin-left: -30px;
  margin-top: 100px;
}

#http-put h3 {
  font-size: 120px;
  margin-left: -5px;
  margin-top: 10px;
}

#http-delete h2 {
  font-size: 279px;
  letter-spacing: 0em;
  margin-left: -12px;
  margin-top: 220px;
}

#http-delete h3 {
  font-size: 120px;
  margin-left: -6px;
  margin-top: 20px;
}

#crud h2 {
  font-size: 230px;
  margin-top: 120px;
  margin-left: -28px;
}

#crud h3 {
  font-size: 324px;
  margin-top: 70px;
  margin-left: -7px;
  letter-spacing: 0.15em;
}

#design h2 {
  font-size: 239px;
  margin-left: -8px;
  margin-top: 70px;
  letter-spacing: -0.06em;
}

#design h3 {
  font-size: 157px;
  margin-top: 80px;
  letter-spacing: -0.05em;
}

#design h4 {
  font-size: 164px;
  margin-top: 70px;
  margin-left: -10px;
  letter-spacing: -0.05em;
}

#hyper h2 {
  margin-top: 20px;
  margin-left: -10px;
  font-size: 168px;
}

#hyper h3 {
  margin-top: 50px;
  margin-left: -12px;
  font-size: 181px;
}

#hyper-links pre {
  font-size: 70px;
  padding: 10px;
  line-height: 1.2em;
}

#hyper-forms pre {
  font-size: 60px;
  padding: 10px;
  line-height: 1.2em;
}

#ui h2 {
  font-size: 260px;
  letter-spacing: -0.07em;
}

#ui h3 {
  margin-top: 0.1em;
  margin-left: 0em;
  font-size: 208px;
}

#ui h4 {
  margin-top: 0.2em;
  margin-left: -0.1em;
  font-size: 347px;
}

#recap-res h2 {
  font-size: 240.5px;
  margin-top: 120px;
  margin-left: -12px;
}

#recap-repr h2 {
  font-size: 147.5px;
  margin-top: 110px;
  margin-left: -6px;
  letter-spacing: -0.06em;
}

#recap-hypermedia h2 {
  font-size: 197px;
  margin-left: -8px;
  margin-top: 60px;
}

#see h2 {
  margin-top: 20px;
  margin-left: -8px;
  font-size: 170px;
}

#see-mamund img {
  float: left;
  margin-left: 10px;
  margin-top: 140px;
}

#see-mamund h2 {
  float: left;
  margin-top: 4em;
  margin-left: 10px;
  font-size: 61px;
  text-align: left;
}

#see-mamund h3 {
  float: right;
  margin-top: 1.5em;
  margin-right: 10px;
  font-size: 50px;
  text-align: right;
}

#see-rest img {
  float: left;
  margin-top: 197px;
  margin-left: 10px;
}

#see-rest h2 {
  float: left;
  margin-top: 2.5em;
  font-size: 97px;
}

#see-rest h3 {
  float: right;
  margin-top: 1.5em;
  margin-right: 10px;
  font-size: 50px;
  line-height: 1em;
  text-align: right;
}

#see-some img {
  float: left;
  margin-top: 224px;
  margin-left: 10px;
}

#see-some h2 {
  float: left;
  margin-top: 3em;
  font-size: 88px;
  line-height: 1em;
  text-align: right;
}

#see-some h3 {
  float: right;
  margin-top: 1.5em;
  margin-left: 10px;
  font-size: 50px;
}

#impress.step-see #see-mamund,
#impress.step-see #see-rest,
#impress.step-see #see-some {
  opacity: 1;
}

#thanks h2 {
  margin-top: 200px;
  margin-left: -10px;
  font-size: 225px;
}

